/* Empty section */
.empty-section{
    img{
        width: 300px;
    }
    p{
        font-size: 1.02rem;
        margin: 1rem 0;
        font-weight: 500;
    }
}

/* End of Empty section */


.content-wrapper {
    background-color: $gray;
}
@media (min-width: 768px){
    body:not(.sidebar-mini-md) .content-wrapper,
    body:not(.sidebar-mini-md) .main-footer,
    body:not(.sidebar-mini-md) .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: 200px;
    }
}
