/* Crayons button */
.btn-crayons{
    color: $light-teal;
    border-color: $navy-color;
    background-color: $navy-color;
    &:focus{
        box-shadow: 0;
        color: $light-teal;
        border-color: $navy-color;
        background-color: $navy-color;
    }
    &:hover{
        color: $light-teal;
        border-color: $navy-color;
        background-color: $navy-color;
    }
}


/* End of crayons button */

/* Login button */
.btn-login{
    width: 100%;
    font-weight: 600;
    letter-spacing: .06rem;
}
/* End of Login button */

/* Button Group */
.btn-group{
    margin-bottom: .7rem;
    .btn-secondary {
        color: $gray;
        background-color: rgb(22 29 111 / 61%);
        border-color: $navy-color;
        &:focus{
            color: $gray;
            box-shadow: none;
            background-color: rgb(22 29 111 / 61%);
        }
    }
}
/* End of Button Group */

/* Button edit */
.btn-edit{
    margin-right: 5px;
    color: $navy-color;
    border-color: $light-teal;
    background-color: $light-teal;
    &:focus{
        box-shadow: 0;
        color: $navy-color;
        border-color: $light-teal;
        background-color: $light-teal;
    }
    &:hover{
        color: $navy-color;
        border-color: $light-teal;
        background-color: $light-teal;
    }
}
/* End of Button edit */

/* Button danger */
.btn-danger{
    margin-left: 5px;
    color: $navy-color;
    border-color: $red-color;
    background-color: $red-color;
    &:focus{
        box-shadow: none;
        color: $navy-color;
        border-color: $red-color;
        background-color: $red-color;
    }
    &:hover{
        color: $navy-color;
        border-color: $red-color;
        background-color: $red-color;
    }
}
/* End of Button danger */

/* Button danger */
.btn-show{
    margin-left: 5px;
    color: $light-teal;
    border-color: $navy-color;
    background-color: $navy-color;
    &:focus{
        box-shadow: none;
        color: $light-teal;
        border-color: $navy-color;
        background-color: $navy-color;
    }
    &:hover{
        color: $light-teal;
        border-color: $navy-color;
        background-color: $navy-color;
    }
}
/* End of Button danger */

.btn{
    &:focus{
        box-shadow: none;
    }
}
