/* Card */
.section{
    // Card
    .card{
        .card-header,
        .card-footer{
            background-color: transparent;
        }
    }
    // card categories
    .card-categories{
        border-top: 3px solid $navy-color;

    }

    // card orders
    .card-orders{
        border-top: 3px solid $navy-color;
    }
}
/* End of Card */
