/* Tables */
.section{
    // card
    .card{
        // card header
        .card-header{
            background-color: transparent;
            h3{
                margin-bottom: 0;
                color: $navy-color;
                .badge-secondary {
                    color: $light-teal;
                    background-color: $navy-color;
                }
            }
        }
        // card body
        .card-body{
            // table
            div.dataTables_wrapper div.dataTables_paginate ul.pagination {
                margin-top: 15px;
            }
            .page-item.active .page-link {
                color: $light-teal;
                border-color: $navy-color;
                background-color: $navy-color;
                &:focus{
                    box-shadow: 0;
                    color: $light-teal;
                    border-color: $navy-color;
                    background-color: $navy-color;
                }
            }
            div.dataTables_wrapper div.dataTables_info{
                color: $navy-color;
            }
        }
    }
}


/* End of Tables */
